<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>John Lee</h2>
            <h4>johnlee@gmail.com</h4>
        </div>
        <img src="../../../../assets/images/Profile.png" alt="John Lee">
    </div>

    <mat-divider></mat-divider>

    <h2 MatSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Savings And Deposits</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Insurance</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Investment</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Assets</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts Test</a>
    
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
</mat-nav-list>
